.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}


.home {
  height: 100vh;
  background: #fff;
  color: #000;
  display: flex;
  overflow: hidden;
}

.home-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navbar {
  justify-content: space-between;
  background: #2b2d31;
  color: white;
  padding: 0;
  height: 50px;
}

.markdown-title {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.separator {
  font-weight: 100;
  color: #5a6069;
}

.nav-details {
  gap: 30px;
  height: 100%;
}

.nav-doc-name {
  gap: 10px;
}

.doc-name-title {
  font-weight: 200;
  font-size: 10px;
  color: #7c8187;
}

.doc-name {
  font-size: 10px;
}

.doc-name-input{
    border: none;
    border-bottom: solid 1px #2b2d31;
    background: none;
    outline: none;
}

input.error{
  border-bottom: solid 1px #e46643;
}

.doc-name-input:focus{
    border-bottom-color: white;
}

.hamburger {
  padding: 10px;
  border-radius: 0;
  border: solid 1px #333;
  background: #35393f;
  height: 100%;
}

.nav-action-buttons {
  gap: 10px;
}

.delete-btn {
  background: none;
  border: none;
}

.save-btn {
  gap: 10px;
  padding: 7px 10px;
  margin: 10px;
  background: #e46643;
  border: none;
  border-radius: 3px;
}

.hero {
  flex: 1;
  overflow: auto;
}

.markdown,
.preview {
  flex: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.markdown {
  border-right: solid 1px #e4e4e4;
}

.hero-header {
  background-color: #f5f5f5;
  color: #7c8187;
  padding: 5px 10px;
}

.hero-header-title {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #7c8187;
  font-size: 11px;
  font-weight: 600;
}

.markdown-textarea {
  flex: 1;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  background: #fff;
  color: #35393F;
  border: none;
  outline: none;
  padding: 10px;
}

.preview-container {
  flex: 1;
  padding: 10px 30px;
  overflow: auto;
}

.preview-items {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.preview .preview-items p, .preview .preview-items li{
  color: #7C8187;
  font-size: 14px;
}

ol{
  padding-left: 40px;  
}

ul {
  padding-left: 20px;  
  list-style: none; 
}

ul li {
  position: relative;
  padding-left: 1.5em; 
  line-height: 1.5em; 
}

ul li::before {
  content: '\2022'; 
  color: #E46643; 
  position: absolute;
  left: 0;
  font-size: 20px; 
}

.preview h6{
  color: #E46643; 

}

pre{
  background: #F5F5F5;
  padding: 20px;
  border-radius: 5px;
}



.preview .preview-items blockquote{
  border-left: solid 4px #e46643;
  padding: 10px;
  border-radius: 3px;
  background: #F5F5F5;
  
}

.preview .preview-items blockquote p{
  color: #35393F;
}

.preview .preview-items a{
  text-decoration: underline;
}

code{
  color: #35393F;
}

.eye-toggle-btn {
  background: none;
  border: none;
}

.sidebar {
  width: 200px;
  height: 100%;
  overflow-y: auto;
  background: #2b2d31;
  color: white;
  padding: 15px;
  position: absolute;
  left: -300px;
  transition: 0.3s ease-in-out;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.show-sidebar {
  left: 0;
  position: relative;
}

.sidebar-title {
  text-transform: capitalize;
}

.new-doc-btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #e46643;
  text-transform: capitalize;

}

.document-list {
  gap: 20px;
}

.document-item{
  border: none;
  background: none;
  text-align: left;
}

.delete-modal{
  position: absolute;
  height: 100vh;
  width: 100%;
}

.overflow{
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 10;
  background: #0000004c;
  
}

.delete-modal-item{
  z-index: 100;
  background: white;
  color: black;
  border-radius: 5px;
  width: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.delete-modal-item p{
  font-size: 13px;
}

.confirm-delete-btn{
  padding: 10px;
  background:#e46643;
  color: white;
  border: none;
  border-radius: 5px;
}

.show-sidebar-markdown-title{
  display: none;
}



